*{
     border: none;
     list-style-type: none;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     text-decoration: none !important;
     scroll-behavior: smooth;
     transition: all .5s ease-in;
}
body{
     background-color: black;
}
.bg{
width: 100%;
object-fit: cover;
opacity: 0.6;
height: 100vw;
}
