*{
     border: none;
     list-style-type: none;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     text-decoration: none !important;
     scroll-behavior: smooth;
     transition: all .2s ease-in-out;
}
body{
     background-color:black;
}
.bg{
width: 100%;
height: 100vh;
object-fit: cover;
object-position:top;
opacity: .5;
position: relative;
}
.header{
     position: absolute;
     top: 0;
     padding: 1rem 2rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
}
.head-tittle{
color: white;
font-family: 'Lobster', cursive;
font-size: 3rem;
}
.links{
display: flex;
gap: 1.5rem;     
}
.links a{
color: white;     
font-family: 'Roboto Flex', sans-serif;
font-size: 1.2rem;
}
.links a:hover{
     color:tan;
}
.home-section{
     padding:0 1.5rem;
     position: absolute;
     top: 24%;
}
.home-section-title{
font-family: 'Roboto Flex', sans-serif;
color: white;     
     font-size: 8rem;
}
.home-section-p{
     color: burlywood;
}
.about-section{
     background:#fbf8f5;
}
.about-img{
     width: 100%;
     height: 100vh;
     object-fit: cover;
     object-position: top;
}
.right{
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.about-title{
font-family: 'Roboto Flex', sans-serif;
font-weight: 900;
font-size: 5rem;
}
.about-p{
     font-family: 'Play', sans-serif;
       color: gray;
}
.slide-img{
width: 50%;
height: 100vh;
object-fit: cover;
object-position: top;
}
.stats-title{

}
.stats{
     display: flex;
     background: white;
     padding: 1rem;
}
.stats-p{
display: flex;
flex-direction: column;
}
.stats-p2{
display: flex;
flex-direction: column;
}